<!DOCTYPE html>

<html lang="en">
<head>
  <title>Amine and Hamza</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css; charset=utf-8" />

  <meta name="viewport" content="initial-scale=1.0" />

  <link rel="stylesheet" href="Static/Css/Layout.css" type="text/css" />
  <link rel="stylesheet" href="Static/Css/UI.css" type="text/css" />
</head>
<body>

<script type="text/x-handlebars">
  <nav>
    <ul>
      <li style="float: left">{{#link-to 'about' class="button button--light"}}About us{{/link-to}}</li>
      <li style="float: left">{{#link-to 'band' class="button button--light"}}The band beyond borders{{/link-to}}</li>
      <li style="float: left">{{#link-to 'dates' class="button button--light"}}Dates{{/link-to}}</li>
      <li>{{#link-to 'index'}}<img src="/Static/Image/Logo.png" alt="Logo of Amine and Hamza" />{{/link-to}}</li>
      <li style="float: right">{{#link-to 'contact' class="button button--light"}}Contact{{/link-to}}</li>
      <li style="float: right">{{#link-to 'gallery' class="button button--light"}}Gallery{{/link-to}}</li>
      <li style="float: right">{{#link-to 'discography' class="button button--light"}}Discography{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

  <footer>
    <section>
      <h2>Contact us</h2>

      <form>
        <label for="contact_private">Private</label>
        <input type="radio" id="contact_private" name="contact_type" value="private" />

        <label for="contact_professional">Professional</label>
        <input type="radio" id="contact_professional" name="contact_type" value="professional" />

        <label for="contact_email">Email:</label>
        <input type="text" id="contact_email" />

        <label for="contact_name">Name:</label>
        <input type="text" id="contact_name" name="contact_name" />

        <label for="contact_message">Message:</label>
        <textarea id="contact_message" name="contact_message"></textarea>
      </form>

      <h2>Links</h2>

      <h2>Social</h2>
    </section>

    <section>
      <p>
        <img
          src="/Static/Image/Logo.png"
          alt="Logo of Amine and Hamza"
          class="logo" />
        © 2015 Amine &amp; Hamza. All right reserved. Designed by Alexandra
        Romanesco

        <span style="float right">
          youtube
          facebook
          google+
        </span>
      </p>
    </section>
  </footer>
</script>

<script type="text/x-handlebars" id="index">
  <header style="min-height: 40em; background-image: url('/Static/Image/Header.jpg')">
    <span style="
      display: block;
      position: absolute;
      top: 7em;
      width: 100%;
      font-size: 250%;
      font-weight: bold;
      ">Amine <strong>&amp;</strong> Hamza</span>
    <span style="
      display: block;
      position: absolute;
      top: 8em;
      left: 0px;
      width: 100%;
      font-size: 250%;
      font-weight: bold;
      font-variant: all-small-caps;
      text-decoration: underline;
      ">Two brothers One passion</span>
  </header>

  <article>
    <section>
      <h2>Albums</h2>

      <p class="subtitle-h2">
        Check out our newest music albums. You can easily purchase them on<br />
        <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewCollaboration?cc=ch&ids=387006385-387006388&l=en">iTunes</a> or
        <a href="https://play.google.com/store/search?q=amine%20and%20hamza&c=music">Google Play</a>
      </p>

      <div class="albums">
        <div class="album">
          <img
            src="/Static/Image/Album/Perpetual_motion_cover.jpg"
            alt="Perpetual Motion"
            class="album__cover" />
          <span class="album__title">
            Perpetual Motion
            <time datetime="2012">(2012)</time>
          </span>
        </div>
        <div class="album">
          <img
            src="/Static/Image/Album/Meni_nessi_cover.jpg"
            alt="Meni nessi"
            class="album__cover" />
          <span class="album__title">
            Meni Nessi
            <time datetime="2007">(2007)</time>
          </span>
        </div>
        <div class="album">
          <img
            src="/Static/Image/Album/Things_may_change_cover.jpg"
            alt="Things may change"
            class="album__cover" />
          <span class="album__title">
            Things may change
            <time datetime="2006">(2006)</time>
          </span>
        </div>
      </div>
    </section>

    <section>
      <h2>Last Dates</h2>

      <p class="subtitle-h2">
        Follow us to our amazing tours in this 2015 all around the world
      </p>

      <table class="dates">
        <tbody>
          <tr>
            <td colspan="4" class="dates__year">2015</td>
          </tr>
          <tr>
            <td class="dates__date"><time>23 jun</time></td>
            <td class="dates__title">Perpetual worldtour 2015</td>
            <td class="dates__location">Somewhere…</td>
            <td class="dates__details"><a class="button">details</a></td>
          </tr>
          <tr>
            <td class="dates__date"><time>04 May</time></td>
            <td class="dates__title">Mani Nassi Show</td>
            <td class="dates__location">1560 Broadwat, Suite 800, New York, NY</td>
            <td class="dates__details"><a class="button">details</a></td>
          </tr>
          <tr>
            <td class="dates__date"><time>17 Apr</time></td>
            <td class="dates__title">Moonsoon Music Festival</td>
            <td class="dates__location">Queen Stage, North Elizabeth Park, London, UK</td>
            <td class="dates__details"><a class="button">details</a></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section style="
      color: rgb(254, 254, 254);
      text-align: center;
      min-height: 24em;
      background-image: url('/Static/Image/Concert__header.jpg')
      ">
      <svg
        viewBox="0 0 100 100"
        style="
          margin-top: 2em;
          width: 6em;
          height: 6em
        ">
        <circle cx="50" cy="50" r="25" fill="rgb(224, 167, 54)" />
        <polygon points="45,42 45,58 60,50" fill="rgb(254, 254, 254)" />
      </svg>
      <h2 style="margin-top: -1.2em">Live Concert in Geneva</h2>
      <p>
        The Perpetual Motion album is now available on
        <a href="">iTunes</a>
        and
        <a href="">Google Play</a>
      </p>
    </section>

    <section>
      <h2>Gallery</h2>

      <ul role="tablist">
        <li role="tab" id="gallery_photos" aria-controls="gallery_photos_panel" aria-selected="true">Photos</li>
        <li role="tab" id="gallery_videos" aria-controls="gallery_videos_panel" aria-selected="false">Videos</li>
      </ul>

      <div role="tabpanel" id="gallery_photos_panel" aria-labelledby="gallery_photos" aria-hidden="false">
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
      </div> 

      <div role="tabpanel" id="gallery_videos_panel" aria-labelledby="gallery_videos" aria-hidden="true">
        <p>foo videos bar</p>
      </div> 
    </section>
  </article>
</script>

<script type="text/x-handlebars" id="about">
  <header>
    …
  </header>

  <main>
    <article></article>
  </main>
</script>

<script type="text/x-handlebars" id="band">
  <header>
    <h1>The Band Beyond Borders</h1>
  </header>

  <article>
    <section>
      <h2>The musicians</h2>

      <dl class="musicians">
        <dt>
          <img
            src="/Static/Image/Musician/Baiju.jpg"
            alt="Baiju Bhaat's face"
            class="musician__photo"
            />
        </dt>
        <dd>
          <h3 class="musician__name">Baijy Bhaat</h3>
          <p class="musician__instrument">Violin</p>
          <div class="musician__biography">
            <p>
              Baiju Bhat (1988) picked up the violin at the age of six, and
              studied western classical music at the Lausanne Conservatory
              (Switzerland) until his early twenties. He discovered jazz by
              planning piano as a kid, and soon started to play swing and other
              forms of jazz with his violin. Bla bla.
            </p>
          </div>
        </dd>
        <dt>
          <img
            src="/Static/Image/Musician/Baiju.jpg"
            alt="Baiju Bhaat's face"
            class="musician__photo"
            />
        </dt>
        <dd>
          <h3 class="musician__name">Baijy Bhaat</h3>
          <p class="musician__instrument">Violin</p>
          <div class="musician__biography">
            <p>
              Baiju Bhat (1988) picked up the violin at the age of six, and
              studied western classical music at the Lausanne Conservatory
              (Switzerland) until his early twenties. He discovered jazz by
              planning piano as a kid, and soon started to play swing and other
              forms of jazz with his violin. Bla bla.
            </p>
          </div>
        </dd>
        <dt>
          <img
            src="/Static/Image/Musician/Baiju.jpg"
            alt="Baiju Bhaat's face"
            class="musician__photo"
            />
        </dt>
        <dd>
          <h3 class="musician__name">Baijy Bhaat</h3>
          <p class="musician__instrument">Violin</p>
          <div class="musician__biography">
            <p>
              Baiju Bhat (1988) picked up the violin at the age of six, and
              studied western classical music at the Lausanne Conservatory
              (Switzerland) until his early twenties. He discovered jazz by
              planning piano as a kid, and soon started to play swing and other
              forms of jazz with his violin. Bla bla.
            </p>
          </div>
        </dd>
      </dl>
    </section>
  </article>
</script>

<script src="Static/Vendor/jquery/dist/jquery.min.js"></script>
<script src="Static/Vendor/ember/ember.min.js"></script>
<script src="Static/Vendor/ember/ember-template-compiler.js"></script>
<script src="Static/Vendor/ember-data/ember-data.min.js"></script>
<script src="Static/Javascript/Application.js"></script>

</body>
</html>
