<!DOCTYPE html>

<html lang="en">
<head>
  <title>Amine and Hamza</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-type" content="text/javascript; charset=utf-8" />
  <meta http-equiv="content-type" content="text/css; charset=utf-8" />

  <meta name="viewport" content="initial-scale=1.0" />

  <link rel="stylesheet" href="/Static/Css/Layout.css" type="text/css" />
  <link rel="stylesheet" href="/Static/Css/UI.css" type="text/css" />
</head>
<body>

<script type="text/x-handlebars">
  <nav>
    <ul>
      <li style="float: left">{{#link-to 'about' class="button button--light"}}About us{{/link-to}}</li>
      <li style="float: left">{{#link-to 'band' class="button button--light"}}The band beyond borders{{/link-to}}</li>
      <li style="float: left">{{#link-to 'dates' class="button button--light"}}Dates{{/link-to}}</li>
      <li>{{#link-to 'index'}}<img src="/Static/Image/Logo.png" alt="Logo of Amine and Hamza" />{{/link-to}}</li>
      <li style="float: right">{{#link-to 'contact' class="button button--light"}}Contact{{/link-to}}</li>
      <li style="float: right">{{#link-to 'gallery' class="button button--light"}}Gallery{{/link-to}}</li>
      <li style="float: right">{{#link-to 'discography' class="button button--light"}}Discography{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

  <footer>
    <section>
      <h2>Contact us</h2>

      <form>
        <label for="contact_private">Private</label>
        <input type="radio" id="contact_private" name="contact_type" value="private" />

        <label for="contact_professional">Professional</label>
        <input type="radio" id="contact_professional" name="contact_type" value="professional" />

        <label for="contact_email">Email:</label>
        <input type="text" id="contact_email" />

        <label for="contact_name">Name:</label>
        <input type="text" id="contact_name" name="contact_name" />

        <label for="contact_message">Message:</label>
        <textarea id="contact_message" name="contact_message"></textarea>
      </form>

      <h2>Links</h2>

      <h2>Social</h2>
    </section>

    <section>
      <p>
        <img
          src="/Static/Image/Logo.png"
          alt="Logo of Amine and Hamza"
          class="logo" />
        © 2015 Amine &amp; Hamza. All right reserved. Designed by Alexandra
        Romanesco

        <span style="float right">
          youtube
          facebook
          google+
        </span>
      </p>
    </section>
  </footer>
</script>

<script type="text/x-handlebars" id="index">
  <header style="min-height: 40em; background-image: url('/Static/Image/Header.jpg')">
    <span style="
      display: block;
      position: absolute;
      top: 7em;
      width: 100%;
      font-size: 250%;
      font-weight: bold;
      ">Amine <strong>&amp;</strong> Hamza</span>
    <span style="
      display: block;
      position: absolute;
      top: 8em;
      left: 0px;
      width: 100%;
      font-size: 250%;
      font-weight: bold;
      font-variant: all-small-caps;
      text-decoration: underline;
      ">Two brothers One passion</span>
  </header>

  <article>
    <section>
      <h2>Albums</h2>

      <p class="subtitle-h2">
        Check out our newest music albums. You can easily purchase them on<br />
        <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewCollaboration?cc=ch&ids=387006385-387006388&l=en">iTunes</a> or
        <a href="https://play.google.com/store/search?q=amine%20and%20hamza&c=music">Google Play</a>
      </p>

      <div class="albums">
        <div class="album">
          <img
            src="/Static/Image/Album/Perpetual_motion_cover.jpg"
            alt="Perpetual Motion"
            class="album__cover" />
          <span class="album__title">
            Perpetual Motion
            <time datetime="2012">(2012)</time>
          </span>
        </div>
        <div class="album">
          <img
            src="/Static/Image/Album/Meni_nessi_cover.jpg"
            alt="Meni nessi"
            class="album__cover" />
          <span class="album__title">
            Meni Nessi
            <time datetime="2007">(2007)</time>
          </span>
        </div>
        <div class="album">
          <img
            src="/Static/Image/Album/Things_may_change_cover.jpg"
            alt="Things may change"
            class="album__cover" />
          <span class="album__title">
            Things may change
            <time datetime="2006">(2006)</time>
          </span>
        </div>
      </div>
    </section>

    <section>
      <h2>Last Dates</h2>

      <p class="subtitle-h2">
        Follow us to our amazing tours in this 2015 all around the world
      </p>

      <table class="dates">
        <tbody>
          <tr>
            <td colspan="4" class="date__year">2015</td>
          </tr>
          <tr>
            <td class="date__date">
              <time datetime="2015-11-14">
                <span class="date__date_day">14</span>
                <span class="date__date_month">Nov</span>
              </time>
            </td>
            <td class="date__title">Charity concert for Syrian refugees in Jordan</td>
            <td class="date__location">Montreux, Switzerland</td>
            <td class="date__details"><a class="button">details</a></td>
          </tr>
          <tr>
            <td class="date__date">
              <time datetime="2015-11-08">
                <span class="date__date_day">08</span>
                <span class="date__date_month">Nov</span>
              </time>
            </td>
            <td class="date__title">Charratmuse</td>
            <td class="date__location">Martigny, Switzerland</td>
            <td class="date__details"><a class="button">details</a></td>
          </tr>
          <tr>
            <td class="date__date">
              <time datetime="2015-11-07">
                <span class="date__date_day">07</span>
                <span class="date__date_month">Nov</span>
              </time>
            </td>
            <td class="date__title">Église de Saint-François</td>
            <td class="date__location">Lausanne, Switzerland</td>
            <td class="date__details"><a class="button">details</a></td>
          </tr>
          <tr>
            <td class="date__date">
              <time datetime="2015-10-28">
                <span class="date__date_day">28</span>
                <span class="date__date_month">Oct</span>
              </time>
            </td>
            <td class="date__title">Aktionshalle Standzerei</td>
            <td class="date__location">Baden, Switzerland</td>
            <td class="date__details"><a class="button">details</a></td>
          </tr>
          <tr>
            <td class="date__date">
              <time datetime="2015-09-18">
                <span class="date__date_day">18</span>
                <span class="date__date_month">Sep</span>
              </time>
            </td>
            <td class="date__title">Festival Delle Tradizioni (feat. Karima Nayt)</td>
            <td class="date__location">Vicenza, Italy</td>
            <td class="date__details"><a class="button">details</a></td>
          </tr>
          <tr>
            <td class="date__date">
              <time datetime="2015-09-06">
                <span class="date__date_day">06</span>
                <span class="date__date_month">Sep</span>
              </time>
            </td>
            <td class="date__title">Festival des Musiques Juives (feat. Nathalie El-Baze)</td>
            <td class="date__location">Lausanne, Switzerland</td>
            <td class="date__details"><a class="button">details</a></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section style="
      color: rgb(254, 254, 254);
      text-align: center;
      min-height: 24em;
      background-image: url('/Static/Image/Concert__header.jpg')
      ">
      <svg
        viewBox="0 0 100 100"
        style="
          margin-top: 2em;
          width: 6em;
          height: 6em
        ">
        <circle cx="50" cy="50" r="25" fill="rgb(224, 167, 54)" />
        <polygon points="45,42 45,58 60,50" fill="rgb(254, 254, 254)" />
      </svg>
      <h2 style="margin-top: -1.2em">Live Concert in Geneva</h2>
      <p>
        The Perpetual Motion album is now available on
        <a href="">iTunes</a>
        and
        <a href="">Google Play</a>
      </p>
    </section>

    <section>
      <h2>Gallery</h2>

      <ul role="tablist">
        <li role="tab" id="gallery_photos" aria-controls="gallery_photos_panel" aria-selected="true">Photos</li>
        <li role="tab" id="gallery_videos" aria-controls="gallery_videos_panel" aria-selected="false">Videos</li>
      </ul>

      <div role="tabpanel" id="gallery_photos_panel" aria-labelledby="gallery_photos" aria-hidden="false">
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
        <a href="" class="image-link">
          <img src="/Static/" class="photos" />
        </a>
      </div> 

      <div role="tabpanel" id="gallery_videos_panel" aria-labelledby="gallery_videos" aria-hidden="true">
        <p>foo videos bar</p>
      </div> 
    </section>
  </article>
</script>

<script type="text/x-handlebars" id="about">
  <header>
    <h1>About us</h1>
    <img src="/Static/Image/Header.jpg" style="max-height: 20em" />
  </header>

  <main>
    <article>
      <section>
        <h2>Amine and Hamza</h2>

        <p>
          Amine and Hamza M'raihi are two Tunisian musician brothers, playing
          respectively the oud and the qanun, the two major instruments of the
          classical Arabic music.
        </p>
        <p>
          Since a very young age, the brothers were raised with classical Arab
          music which allowed them to develop an extensive mastery of their
          instruments. They have since then evolved into diverse musical
          traditions including classical western music, jazz, flamenco, Indian,
          Persian music and many others. Amine and Hamza are leaders of a new
          voice into the Arabic music scenery; anchored in the classical Arabic
          tradition but opened on the diverse musical styles. They are the image
          of a new generation, proud of their multiple identities but open and
          tolerant towards other cultures.
        </p>
        <p>
          Amine and Hamza have performed in many prestigious scenes all over the
          world, including the Arab World Institute in Paris, the BBC, the
          Medina Theatre in Beirut and the Cairo Opera house. They have recorded
          and published seven albums featuring musicians from all over the world
          and from different musical traditions.
        </p>
        <p>
          Their latest project, No Borders, dives even deeper in modern
          harmonies, hypnotic grooves and profound feeling, and features french
          clarinetist Blaise Ubaldini and swiss-indian violinist Baiju Bhatt, as
          well as polish bassist Lukacz and swedish percussionist Fredrik.
        </p>
      </section>

      <section>
        <h2>The musicians</h2>

        <p style="text-align: center">
          <div class="musician">
            <img
              src="/Static/Image/Musician/Baiju.jpg"
              alt="Baiju Bhaat's face"
              class="musician__photo"
              />
            <span class="musician__name">Baiju Bhaat</span>
            <span class="musician__instrument">Violin</span>
          </div>
          <div class="musician">
            <img
              src="/Static/Image/Musician/Adamczyk.jpg"
              alt="Lukasz Adamczyk's face"
              class="musician__photo"
              />
            <span class="musician__name">Lukasz Adamczyk</span>
            <span class="musician__instrument">Bass</span>
          </div>
          <div class="musician">
            <img
              src="/Static/Image/Musician/Gille.jpg"
              alt="Fredrik Gille's face"
              class="musician__photo"
              />
            <span class="musician__name">Fredrik Gille</span>
            <span class="musician__instrument">Percussions</span>
          </div>
        </p>

        <div style="margin-top: 2em; text-align: center">
          {{#link-to 'band' class="button"}}See all the musicians{{/link-to}}
        </div>
      </section>
    </article>
  </main>
</script>

<script type="text/x-handlebars" id="band">
  <header>
    <h1>The Band Beyond Borders</h1>
  </header>

  <article>
    <section>
      <h2>The Musicians</h2>

      <dl class="musicians">
        <dt>
          <img
            src="/Static/Image/Musician/Baiju.jpg"
            alt="Baiju Bhaat's face"
            class="musician__photo"
            />
        </dt>
        <dd>
          <h3 class="musician__name">Baiju Bhaat</h3>
          <p class="musician__instrument">Violin</p>
          <div class="musician__biography">
            <p>
              Baiju Bhatt (1988) picked up the violin at the age of six, and
              studied western classical music at the Lausanne Conservatory
              (Switzerland) until his early twenties. He discovered jazz by
              playing piano as a kid, and soon started to play swing and other
              forms of jazz with his violin. He later studied with jazz
              violinist Pierre Blanchard, and he joined in 2009 the professional
              course of the Conservatory (HEMU) in Lausanne, in the jazz
              section, which gave him the opportunity to study violin with
              Christine Sorensen and Mario Forte, as well as jazz, composition
              and arrangement with musicians such as Emil Spanyi, Jeff Baud or
              Robert Bonisolo, and violin pedagogy with Tina Strinning.
            </p>
            <p>
              Always eager to discover new musical horizons, Baiju Bhatt has
              also studied with famous jazz violinists such as Didier Lockwood
              and Johan Renard, and with Indian musicians, which led him to play
              in December 2010 for the Princess of Jaipur with his father, the
              sitarist Pandit Krishna M. Bhatt.
            </p>
            <p>
              Baiju created in 2011 the Red Moon Collective, an international
              project combining jazz, rock, and folk and traditional music from
              India and elsewhere (awarded by the HEMU as one of the "Best Swiss
              Bachelor projects"). In addition to its concerts with gypsy swing
              bands in Switzerland and Paris (Gypsy Galaxy, Brad Brose’s
              Cat-a-Strophe, 36 rue du Swing, Gypsy Bop Combo, May Bittel,
              Bernard Dossin, Marco Neri’s Viperswing etc.), Baiju Bhatt tours
              the world since 2010 (Montreux Jazz Festival, Cully Jazz Festival
              and Caprices Festival in Switzerland, Saptak Festival Ahmedabad in
              India, Torino Jazz Festival and Vicenza World Music Festival in
              Italy, Ethno.com Festival in Serbia, Fajr International Music
              Festival in Tehran, Iran, RPAH in San Francisco and Brooklyn Raga
              Massive in New York, USA, among many others) with the virtuoso
              Tunisian brothers Amine &amp; Hamza Mraihi, the celtic pop-rock
              band Anach Cuan, and his most recent project, a jazz-rock quintet
              called Red Sun (also awarded by the HEMU in 2014).
            </p>
            <p>
              He currently lives between Switzerland and Paris, where he created
              the band Gypsy Galaxy.
            </p>
          </div>
        </dd>
        <dt>
          <img
            src="/Static/Image/Musician/Ubaldini.jpg"
            alt="Blaise Ubaldini's face"
            class="musician__photo"
            />
        </dt>
        <dd>
          <h3 class="musician__name">Blaise Ubaldini</h3>
          <p class="musician__instrument">Clarinet</p>
          <div class="musician__biography">
            <p></p>
          </div>
        </dd>
        <dt>
          <img
            src="/Static/Image/Musician/Adamczyk.jpg"
            alt="Lukasz Adamczyk's face"
            class="musician__photo"
            />
        </dt>
        <dd>
          <h3 class="musician__name">Lukasz Adamczyk</h3>
          <p class="musician__instrument">Bass</p>
          <div class="musician__biography">
            <p></p>
          </div>
        </dd>
        <dt>
          <img
            src="/Static/Image/Musician/Gille.jpg"
            alt="Fredrik Gille's face"
            class="musician__photo"
            />
        </dt>
        <dd>
          <h3 class="musician__name">Fredrik Gille</h3>
          <p class="musician__instrument">Percussions</p>
          <div class="musician__biography">
            <p>
              Fredrik Gille is a percussionist from Stockholm, Sweden. He
              collects instruments, playing-techniques and inspiration from
              percussion-traditions all around the world.
            </p> 
            <p>
              He has a great passion for worldwide percussion-traditions and has
              collected a unique set of instruments —a constantly growing
              set-up. Learning about sounds, techniques and origins of such a
              variety of drums has given him a colourful spectrum of musical
              expressions. Spending big parts of the year on tour abroad, he
              takes every opportunity to meet and learn from local musicians and
              find new drums for his collection.
            </p>
            <p>
              Fredrik has played with groups and artists from all over the
              world, among just a few: Väsen (Sweden), Bazar Blå (Sweden), Radio
              Tarifa (Spain), Andreas Vollenweider (Switzerland). Amine &amp;
              Hamza (Tunisia). Alfredo Lagos (Spain), Mich Gerber (Switzerland),
              Karima Nayt (Algeria), Fathy Salama (Egypt), Sofia Karlsson
              (Sweden), Blau (Switzerland), Jienat (Norway) as well as
              dance-companies Flamencos en Route (Switzerland) and ÖffÖff
              (Switzerland).
            </p>
          </div>
        </dd>
        <dt>
          <img
            src="/Static/Image/Musician/Conus.jpg"
            alt="Valentin Conus's face"
            class="musician__photo"
            />
        </dt>
        <dd>
          <h3 class="musician__name">Valentin Conus</h3>
          <p class="musician__instrument">Saxophone</p>
          <div class="musician__biography">
            <p>
              Born in Switzerland in 1988, he studied classical and contemporary
              music and obtained a Bachelor of Arts and a Master at Haute Ecole
              de Musique of Lausanne (HEMU) with Pierre-Stéphane Meugé. In 2014,
              he graduated from Master’s degree in the jazz section of HEMU in
              Robert Bonisolo's class. He also studied with Jeff Baud, Emil
              Spanyi and René Mosele.
            </p>
            <p>
              He attended masterclasses with Marcus Weiss, Lars Mlekusch, Rico
              Gubler, Ronan Guilfoyle. In 2010, he took part to the
              International summer course for new music in Darmstadt (Germany).
            </p>
            <p>
              Due to his jazz and classical education, Valentin plays in
              different ensembles, with very various styles: Saxophone quartet,
              chamber music, free improvisation, jazz or world music. He
              appeared in different festival such as Montreux Jazz Festival,
              Verbier Festival, Sion Festival, St-Prex Classics, Cully Festival,
              Festival des 5 continents or Fethiye Klasik Müzik Festivali.
            </p>
            <p>
              He collaborates with musicians such as Brigitte Balleys
              (mezzo-soprano), Deniz Toygür (violin), Michaël Conus (trumpet),
              Layla Ramezan, David Tixier (piano), Baiju Bhatt —Red Sun Rising
              (jazz violin)—, Patrick Perrier Septet and Blaise Hommage
              (bass/double bass), Francis Stoessel, Emre Kartarı (drums) and
              played with orchestras such as the Verbier Festival Orchestra and
              Musikkollegium Winterthur.
            </p>
            <p>
              In 2010, he got a 2<sup>nd</sup> prize in Tournoi International de
              Musique (TIM), in Verona (IT).
            </p>
            <p>
              He's currently saxophone and ensemble teacher at Yaşar University
              in İzmir, Turkey.
            </p>
          </div>
        </dd>
      </dl>
    </section>
  </article>
</script>

<script type="text/x-handlebars" id="dates">
  <header>
    <h1>Past and Next dates</h1>
  </header>

  <article>
    <section>
      <table class="dates">
        <tbody>
          {{#each model as |date|}}
            {{#if date.newYear}}
            <tr>
              <td class="date__year" colspan="4">{{date.date_year}}</td>
            </tr>
            {{/if}}
            <tr>
              <td class="date__date">
                <time datetime="{{date.date}}">
                  <span class="date__date_day">{{date.date_day}}</span>
                  <span class="date__date_month">{{date.date_month}}</span>
                </time>
              </td>
              <td class="date__title">{{date.description}}</td>
              <td class="date__location">{{date.location}}</td>
              <td class="date__details"><a class="button">details</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  </article>
</script>

<script type="text/x-handlebars" id="discography">
  <header>
    <h1>Discography</h1>
  </header>

  <article>
    <div data-anchor="album" />
    {{outlet}}

    <section>
      <h2>All albums</h2>

      <div class="albums">
        {{#each model as |album|}}
          {{#link-to 'discography.album' album.id class="album"}}
            <img
              src="/Static/Image/Album/{{album.cover}}.jpg"
              alt="{{album.title}}"
              class="album__cover" />
            <span class="album__title">
              {{album.title}}
              <time datetime="{{album.releaseYear}}">({{album.releaseYear}})</time>
            </span>
          {{/link-to}}
        {{/each}}
      </div>
    </section>
  </article>
</script>

<script type="text/x-handlebars" id="discography/album">
  <section id="album">
    <h2>{{model.title}}</h2>

    <img
      src="/Static/Image/Album/{{model.cover}}.jpg"
      alt="{{model.title}}"
      class="album__cover" />
  </section>
</script>

<script src="/Static/Vendor/jquery/dist/jquery.min.js"></script>
<script src="/Static/Vendor/ember/ember.min.js"></script>
<script src="/Static/Vendor/ember/ember-template-compiler.js"></script>
<script src="/Static/Vendor/ember-data/ember-data.min.js"></script>
<script src="/Static/Vendor/moment/min/moment.min.js"></script>
<script src="/Static/Javascript/Application.js"></script>

</body>
</html>
