@font-face {
    font-family: Text;
    src: url('../font/Brandon_Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Header;
    src: url('../font/Cottons_Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    color: #fff;
    font: 1.1em/1.4em Text;
    letter-spacing: 1px;
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(9, 10, 10) url('../image/background.png') 50% 0% repeat;
}

nav > ul {
    font-family: Header;
    font-size: 1.4rem;
    list-style-type: none;
    text-align: center;
    margin: 2rem 0;
}

    nav > ul > li {
        display: inline-block;
        margin: 0 1rem;
    }

a {
    color: #fff;
    text-decoration: none;
}

    a:hover, a:focus, a:active {
        color: rgb(166, 136, 92);
        text-decoration: underline;
    }

header, section {
    background: transparent 50% 0 no-repeat;
    background-size: cover;
}

header {
    height: 100vh;
    background-image: url('../image/header.png');
}

    header > h1 {
        visibility: hidden;
    }

section {
    min-height: 100vh;
    max-height: 900px;
    padding: 2rem 6rem;
}

    @media all and (max-width: 600px) {
        section {
            height: auto;
            max-height: none;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

.about_us {
    background-image: url('../image/about_us_background.png');
}

.band {
    background-image: url('../image/band_background.png');
}

.tours {
    background-image: url('../image/tours_background.png');
}

.videos {
    background-image: url('../image/videos_background.png');
}

.discography {
    background-image: url('../image/discography_background.png');
}

h1, h2, h3, h4 {
    font-family: Header;
}

h1 {
    position: relative;
    color: rgb(166, 136, 92);
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    margin-bottom: 6rem;
}

h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -.5em;
    width: 1em;
    border: currentColor solid;
    border-width: 0 0 .07em 0;
}

p {
    text-align: justify;
}

    p + p {
        margin-top: 1rem;
    }

table {
    width: 100%;
}

.dates {
    font-family: Header;
    font-size: 1.5rem;
    text-transform: uppercase;
}

    .dates tr {
        position: relative;
    }

    .dates tr::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: calc(1.5rem - .5px);
        width: 100%;
        border: 1px rgba(255, 255, 255, .5) solid;
    }

    .dates td {
        padding-bottom: 3rem;
    }

    .dates td:first-child {
        padding-left: 1rem;
    }

    .dates td:last-child {
        padding-right: 1rem;
        text-align: right;
    }

    .dates td:nth-child(1),
    .dates td:nth-child(3) {
        color: rgb(249, 132, 49);
    }
    .dates thead {
        display: none;
    }

.button {
    color: #000;
    letter-spacing: 0;
    padding: .2rem .5rem;
    background-color: rgb(249, 132, 49);
}

.w-2\/3 {
    width: 66%;
}

    @media all and (max-width: 600px) {
        .w-2\/3 {
            width: 100%;
        }
    }

figure {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

    figure > *:first-child {
        box-shadow: 0 0 1.5em rgba(0, 0, 0, .9);
    }

    figcaption {
        text-align: center;
        margin-top: 2rem;
    }

.video {
    position: relative;
    padding-top: 30px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.align-left {
    margin-left: auto;
}
