* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

    nav > ul {
       list-style-type: none;
       text-align: center;
    }

    nav > ul > li {
       display: inline-block;
    }

    @media all and (min-width: 901px) {
        nav {
            position: absolute;
            display: table !important;
        }

        [aria-controls="menu"] {
            display: none !important;
        }
    }


[aria-hidden="true"] {
     display: none;
}

[aria-controls="menu"] {
   position: fixed;
   top: .5em;
   left: .25em;
   z-index: 2;
}