@font-face {
    font-family: Text;
    src: url('../Font/Roboto-Thin.woff') format('woff'),
         url('../Font/Roboto-Thin.eot')  format('eot'),
         url('../Font/Roboto-Thin.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Text;
    src: url('../Font/Roboto-Bold.woff') format('woff'),
         url('../Font/Roboto-Bold.eot')  format('eot'),
         url('../Font/Roboto-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font: 1.2em/1.5em Text;
    color: rgb(149, 149, 149);
    background: rgb(37, 37, 37);
}

nav {
    line-height: 3em;
    max-height: 3em;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1100px;
    margin-left: -550px;
    text-align: center;
    z-index: 1;
}

    nav img {
        position: absolute;
        top: .6em;
        left: 50%;
        margin-left: -67px;
        width: 134px;
    }

section:nth-child(2n+1) {
    background: rgb(54, 54, 54);
}

h1, h2, h3 {
    color: rgb(214, 214, 214);
    font-weight: normal;
}

section {
    padding: 3em 4em;
}

    section h2 {
        font-size: 220%;
        line-height: 2.5em;
        text-align: center;
    }

    section .subtitle-h2 {
        text-align: center;
        margin-bottom: 2em;
    }

header {
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 3em;
    background-position: 50% 50%;
    background-repeat: none;
    background-size: cover;
}

footer {
    font-size: 70%;
}

    footer h2 {
        font-size: 140%;
        font-variant: all-small-caps;
        font-weight: bold;
        text-align: inherit;
    }

    footer .logo {
        height: 4em;
        margin-right: 1em;
        vertical-align: middle;
    }

a {
    color: rgb(224, 167, 54);
    text-decoration: none;
}

    a:hover, a:focus {
        text-decoration: underline;
    }

table.dates {
    color: rgb(254, 254, 254);
    font-weight: bold;
    max-width: 1000px;
    margin: 0 auto;
}

    table.dates tr {
        line-height: 3.5em
    }

    table.dates td {
        border-bottom: 1px rgb(59, 59, 59) solid;
    }

    table.dates td:not(:last-child) {
        padding-right: 2em;
    }

    table.dates tr:last-child td {
        border-bottom: none;
    }

    td.dates__year {
        color: rgb(149, 149, 149);
        font-size: 120%;
        font-weight: bold;
        line-height: 1.8em;
        text-align: center;
        border-bottom: 1px rgb(224, 167, 54) solid !important;
    }

    td.dates__date {
        font-variant: all-small-caps;
    }

    td.dates__title {
        font-variant: all-small-caps;
    }

    td.dates__location {
        color: rgb(149, 149, 149);
        font-size: 70%;
        font-weight: normal;
    }

.button {
    cursor: pointer;
    color: rgb(254, 254, 254);
    font-weight: bold;
    font-variant: all-small-caps;
    text-decoration: none;
    padding: .2em 1.1em .35em;
    background: rgb(224, 167, 54);
}

    .button:hover {
        background: rgb(224, 167, 54);
    }

    .button--light {
        background: transparent;
    }

.albums {
    text-align: center;
}

.album {
    display: inline-block;
    width: 320px;
}

    .album__cover {
        display: block;
        max-height: 240px;
        max-width: 270px;
        margin: 0 auto 1em; auto;
    }

    .album__title {
        color: rgb(254, 254, 254);
        font-weight: bold;
        font-variant: all-small-caps;
    }

       .album__title time {
           display: block;
           color: rgb(149, 149, 149);
           font-size: 70%;
           font-weight: normal;
       }

ul[role="tablist"] {
    list-style-type: none;
    text-align: center;
}

    li[role="tab"] {
        display: inline-block;
        cursor: pointer;
        border-bottom: 2px rgb(49, 49, 49) solid;
    }

    li[role="tab"]:not(:last-child) {
        margin-right: 2em;
    }

    li[role="tab"][aria-selected="true"] {
        border-color: rgb(224, 167, 54);
    }