@font-face {
    font-family: Text;
    src: url('../Font/Roboto-Thin.woff') format('woff'),
         url('../Font/Roboto-Thin.eot')  format('eot'),
         url('../Font/Roboto-Thin.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Text;
    src: url('../Font/Roboto-Bold.woff') format('woff'),
         url('../Font/Roboto-Bold.eot')  format('eot'),
         url('../Font/Roboto-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font: 1.2em/1.5em Text;
    color: rgb(149, 149, 149);
    background: rgb(37, 37, 37);
}

#menu {
    line-height: 1.8em;
    text-align: center;
    background: rgb(37, 37, 37);
}

    #menu ul {
        display: table;
        border-collapse: collapse;
        margin: 0 auto;
        table-layout: fixed;
    }

    #menu li {
        display: table-cell;
        vertical-align: text-top;
        width: 140px;
    }

    #menu img {
        width: 134px;
    }

    @media all and (max-width: 500px) {
        #menu {
            padding: .5em 0 1em 0;
        }

        #menu ul,
        #menu li {
            display: block;
            width: 100%;
        }

        #menu img {
            width: auto;
            height: 3em;
        }
    }

[aria-controls="menu"] {
    cursor: pointer;
}

h1, h2, h3 {
    color: rgb(214, 214, 214);
    font-weight: normal;
}

header, section {
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 4.5em;

}
    header h1 {
        font-size: 220%;
        font-variant: all-small-caps;
        line-height: 3em;
        text-align: center;
        margin-top: 5em;
    }

    @media all and (max-width: 500px) {
        header {
            margin-top: 1em;
        }

        header h1 {
            margin-top: 0;
        }
    }

section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3em 10%;
}

    section:nth-of-type(2n+1) {
        background-color: rgb(54, 54, 54);
    }

    section h2 {
        font-size: 220%;
        line-height: 1.2em;
        text-align: center;
        margin-bottom: 1em;
    }

    section p {
        text-align: justify;
        hyphens: auto;
    }

    section .subtitle-h2 {
        text-align: center;
        margin-bottom: 2em;
    }

footer {
    font-size: 70%;
}

    footer .logo {
        height: 4em;
        margin-right: 1em;
        vertical-align: middle;
    }

a {
    color: rgb(224, 167, 54);
    text-decoration: none;
}

    a:hover, a:focus {
        text-decoration: underline;
    }

p + p {
    margin-top: .8em;
}

iframe {
    max-width: 100%;
}

table.dates {
    color: rgb(254, 254, 254);
    font-weight: bold;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
}

    table.dates tr {
        min-height: 3.5em;
    }

    table.dates td {
        padding-top: .2em;
        padding-bottom: .2em;
    }

    table.dates td:not(:last-child) {
        padding-right: 2em;
    }

    table.dates tr:last-child td {
        border-bottom: none;
    }

    @media all and (max-width: 500px) {
        table.dates tr {
            display: block;
            padding-bottom: 1em;
        }

        table.dates td {
            display: block;
            text-align: center;
            padding-right: 0 !important;
        }
    }

    .date__year {
        color: rgb(149, 149, 149);
        font-size: 120%;
        font-weight: bold;
        line-height: 1.8em;
        text-align: center;
        border-bottom: 1px rgb(224, 167, 54) solid !important;
    }

    .date__date {
        font-variant: all-small-caps;
        line-height: 1.1em;
        text-align: center;
    }

    .date__date_day {
        display: block;
        color: rgb(224, 167, 54);
        font-size: 160%;
    }

    .date__date_month {
        font-size: 80%;
    }

    .date__title {
        font-variant: all-small-caps;
    }

    .date__location {
        color: rgb(149, 149, 149);
        font-size: 70%;
        font-weight: normal;
    }

.button {
    cursor: pointer;
    color: rgb(254, 254, 254);
    font-weight: bold;
    font-variant: all-small-caps;
    text-decoration: none !important;
    padding: .2em 1.1em .35em;
    background: rgb(224, 167, 54);
}

    .button.active,
    .button:hover {
        background: rgb(224, 167, 54);
    }

    .button--light {
        background: transparent;
    }

.albums {
    text-align: center;
}

.album {
    display: inline-block;
    width: 250px;
    margin-bottom: 2em;
}

    .album.active {
       display: none;
    }

    .album__cover {
        display: block;
        max-height: 240px;
        max-width: 250px;
        margin: 0 auto 1em; auto;
    }

    .album__title {
        color: rgb(254, 254, 254);
        font-weight: bold;
        font-variant: all-small-caps;
    }

       .album__title time {
           display: block;
           color: rgb(149, 149, 149);
           font-size: 70%;
           font-weight: normal;
       }

.album-player {
    overflow: auto;
    padding: .5em 0;
}

    .album-player__information {
        float: left;
        display: table;
        border-collapse: separate;
    }

        .album-player__information > * {
            display: table-row;
        }

    .album-player__buy {
        text-align: center;
        line-height: 2em;
    }

    .album-player__tracks {
        float: right;
        list-style-type: none;
        min-width: 45%;
    }

    .album-player__track {
        color: rgb(214, 214, 214);
        font-size: 80%;
        font-weight: bold;
        padding: 1em 0 2em 0;
        border-top: 2px rgb(75, 75, 76) solid;
    }

       .album-player__track time {
            float: right;
            margin-left: 3em;
       }

    @media all and (max-width: 600px) {
        .album-player__information {
            float: none;
            margin: 0 auto;
        }
    }

    @media all and (max-width: 600px) {
        .album-player__tracks {
            margin-top: 1em;
            min-width: 100%;
        }
    }

dl.musicians { }

    dl.musicians dt {
        margin-right: 1em;
        margin-bottom: .7em;
        float: left;
    }

    dl.musicians dd {
        margin-bottom: .7em;
    }

    dl.musicians dd::after {
        content: '';
        display: block;
        clear: both;
    }

    dl.musicians dd:not(:last-child)::after {
        border-bottom: 1px rgb(59, 59, 59) solid;
        margin-bottom: 1em;
    }

.musician {
    display: inline-block;
    margin: 0 1em;
}

    .musician__photo {
        display: block;
        max-width: 12em;
    }

    .musician__name {
        display: block;
        color: rgb(214, 214, 214);
        font-variant: all-small-caps;
        font-weight: bold;
    }

    .musician__instrument {
        font-size: 70%;
        margin-bottom: .8em;
    }

.videos {
    text-align: center;
}

.video {
    display: inline-block;
    text-align: left;
    margin: 0 1em 2em;
    width: 300px;
    vertical-align: text-top;
}

    .video__link {
        position: relative;
        border: 0;
    }

       .video__link::after {
           content: '';
           position: absolute;
           top: 1em;
           width: 300px;
           height: 225px;
           opacity: 0;
           background: rgba(0, 0, 0, .5) url('../Image/Play.svg') 50% 50% no-repeat;
           background-size: 8rem;
           transition: opacity .3s ease;
       }

        .video__link:hover::after {
            opacity: 1;
        }

       .video__link:hover {
           background: red;
       }

    .video__poster {
        display: block;
        width: 100%;
        max-width: 300px;
    }

    .video__title {
        display: block;
        color: rgb(214, 214, 214);
        font-variant: all-small-caps;
        font-weight: bold;
    }

    .video__published {
        font-size: 70%;
        font-weight: bold;
    }

    .video__description {
        display: block;
        font-size: 70%;
        line-height: 1.5em;
    }

    @media all and (max-width: 600px) {
        .video {
            margin-left: 0;
            margin-right: 0;
            width: 250px;
        }
    }

ul[role="tablist"] {
    list-style-type: none;
    text-align: center;
}

    li[role="tab"] {
        display: inline-block;
        cursor: pointer;
        border-bottom: 2px rgb(49, 49, 49) solid;
    }

    li[role="tab"]:not(:last-child) {
        margin-right: 2em;
    }

    li[role="tab"][aria-selected="true"] {
        border-color: rgb(224, 167, 54);
    }